
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* common style*/
.nav-item ul li, .banner ul li{
    list-style: none;
}





/* nav style */
.nav{
    justify-content: space-between;
    padding: 0 38px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title,.footer-title{
    gap: 20px;
}
.nav-title img {
    width: 86px;
    height: 40px;
}
.nav-title h2{
    font-size: 45px; 
    font-weight: 700; 
}
.nav-item ul{
    gap: 32px;
    padding: 0;
}
.nav-item ul li a{
    text-decoration: none;
    color: #3C354F  
}
.nav-item-text{
    font-size: 18px;
    font-weight: 500;
}
.nav-button{
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 8px;
    color: #3C354F
}

.nav-button a:hover{
    background-color: #d7d2db;
    
}

/* banner section style */
.banner-section-container{
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-color: #fff;
}

.banner{
    justify-content: space-between;
}
.banner ul{
    padding: 0;
}
.banner-heading{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-title{
    font-size: 95px;
    font-weight: 800;
    margin: 0;
}
.banner ul li{
    margin-top: 6px;
}
.banner ul li a{
    text-decoration: none; 
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #534C64
}
.banner-button{
    margin-top: 40px;
}
.secondary-button{
    margin-left: 10px;
    background: #4EC5F7 !important;
}

/* we are gamer section styles */
.we-are-gamer-section-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.we-are-gamer-content{
    gap: 50px;
}
.gamer-information{
    text-align: right;
}
.gamer-title{
    margin-bottom: 24px;
}
.gamer-des{
    margin-top: 0;
    margin-bottom: 30px;
}
.gamer-purpose{
    margin-top: 22px;
    color: #534C64;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
}
#purpose{
    font-size: 18px;
    font-weight: 500;
}

/* online games section styles */
.online-games-video-section-container{
    margin-top: 120px;
}
.games-video-info{
    text-align: center;
}
.games-title{
    margin-bottom: 0;
}
.games-des{
    margin-top: 16px;
}
.videos-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.video-item{
    width: 280px;
    height: 327px;
}
.video img{
    width: 100%;
}
.video-des{
    text-align: right;
}

.video a:hover img{
    border: 2px solid #ff42a5;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.hidden{
    visibility: hidden;
}

.video{
    position: relative;
}
.video img{
    display: block;
}
.video::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 2, 35, 0.5);
    opacity: 0;
    border-radius: 9px;
    border: 3px solid #ff42a5;
    border-radius: 10px;

}
.video:hover::after{
    opacity: 1;
}
.watch-now{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.watch-now img{
    width: 32px;
    height: 32px;
}
.watch-now p{
    font-weight: 600;
    font-size: 20px;
    color: #ff42a5;
}
.video:hover .watch-now{
    visibility: inherit;
}

/* play instant section style */
.play-instant-section-container{
    margin-top: 120px;
}
.play-instant-section-container .container{
    width: 100%;
}
.play-instant-contents{
    justify-content: flex-end;
    gap: 200px;
}
.play-instant-info{
    width: 30%;
    text-align: end;
}
.play-title{
    margin-bottom: 24px;
}
.play-instant-image{
    width: 50%;
    position: relative;
}
.play-instant-small-img{
    position: absolute;
    bottom: -70px;
    left: -25%;
}
/* games catagory section styles */

.games-catagory-section{
    margin-top: 120px;
    padding: 120px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.games-button{
    border: none;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
    background: none;
    padding: 10px;
    border-radius: 50px;

}
.games-button:hover{
    color: #ff42a5;
    background: #fff;
    border: 1px solid #ff42a5 ;
}
.buttons-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.footer{
    background: #0B0223;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px;
}
.footer-title{
    color: #fff;
}
.footer .nav-item ul li a{
    color: #fff;
}
.social-media{
    height: 50px;
}
.social-media li{
    width: 50px;
}
.social-media > li:hover a > img{
    border-radius: 50%;
    border: 5px solid #ff42a5;
}
.footer #footer-third-nav .third-nav li a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
} 
.copyright{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}





























/* for mobile devices */
@media screen and (max-width:576px){
    .nav, .nav ul,.we-are-gamer-content{
        flex-direction: column;
        justify-content: center;
    }
    .banner-section-container{
        background-position: bottom;
        background-size: 100% 53%;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-image img,.gamer-image img{
        width: 90%;  
    }
    .we-are-gamer-section-container{
        margin-top: 32px;
    }
    .gamer-information{
        text-align: center;
    }
    .gamer-image,.banner-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gamer-title{
        margin: 0;
        margin-bottom: 32px;
    }
    .videos-container{
        flex-direction: column;
    }
    .video-item p{
        width: 327px;
       text-align: center;
        
    }
    .video-item{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .video{
        width: 280px;
        height: 327px; 
    }
    .play-instant-contents{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .play-instant-large-img{
        width: 300px;
        height: 307px;
    }
    .play-instant-small-img{
        width: 150px;
        height: 172px;
    }
    .play-instant-small-img img{
        width: 100%;
        height: 100%;
    }
    .play-instant-info{
        width: 90%;
        text-align: center;
    }
    .buttons-container{
        grid-template-columns: repeat(3,1fr);
        ;
    }
    .games-button img{
        width: 30px;
        height: 30px;
    }
    .games-button{
        font-size: 12px;
        font-weight: 400;
        gap: 2px;
    }
    .footer .nav-item{
        margin-bottom: 80px;
    }
    .footer .nav-item ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center;

    }
    .footer #footer-third-nav .third-nav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-title{
        margin-bottom: 50px;
    }













}

/* for tablet devices */
@media screen and (min-width:576px) and (max-width:768px) {
    .container{
        max-width: 720px;
        margin: 0 auto;
    }
    .nav-item ul{
        gap: 10px;
    }
    .nav-title h2{
        display:  none;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
    }
    .we-are-gamer-content{
        flex-direction: column;
        justify-content: center;
    }
    .we-are-gamer-section-container{
        width: 100%;
    }
    .video-item{
        height: auto;
        width: auto;
    }
    .videos-container{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
    }
    .play-instant-contents{
        flex-direction: column;
        gap: 120px;
    }
    .play-instant-info{
        width: 90%;
        text-align: center;
    }
}